---
import Header from "@/components/header/header.astro";
import Footer from "@/components/footer/footer.astro";

export interface Props {
	title?: string;
	description?: string;
}

const { title = "Framix - L'outil no-code fait pour vous ", description } = Astro.props;
---

<!doctype html>
<html lang="fr">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/png" href="/fav.png"/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		{description && <meta name="description" content={description} />}
	</head>
	<body class="min-h-screen bg-background font-sans antialiased">
		<Header />
		<main class="min-h-[calc(100vh-4rem)] bg-pattern">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<script src="@/components/scripts/smooth-scrool.js"></script>

<style is:global>
	@import '../styles/globals.css';
	
	.bg-pattern {
		background-image: url('/src/assets/images/background.svg');
		background-repeat: repeat;
		background-size: cover;
		background-position: center;
		background-attachment: fixed;
	}
</style> 
